{% extends 'base.html' %}

    {% block content %}

    <div class="main">
        <div class="row">
            <div class="col-8">
        <a class="btn btn-info w-25 col-8" href="{% url 'collection:calendar' %}?{{ prev_month }}"> Previous Month </a>
            </div>
            <div class="col-4 ">
	<a class="btn btn-info " href="{% url 'collection:calendar' %}?{{ next_month }}"> Next Month </a>
            </div>
        </div>
        <div class="row justify-content-md-center">
{{ calendar }}
        </div>
</div>
</div>
{% endblock %}
